/* .collage-container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 2px solid #ddd;
  padding: 10px;
} */

/* .collage-image {
  width: 75%;
  height: auto;
  border: 1px solid #ccc;
} */

.collage-container {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 2px solid #ddd;
}

.collage-image {
  max-width: 50%;
  height: 52vh;
  border: 1px solid #ccc;
}
  /* .collage-container {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 10px;
  } */


  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  .card {
    border-radius: 15px;
  }

  .btn-lg {
    padding: 10px 20px;
  }
